<nav class="navbar">
  <div class="nav-container">
    <div class="logo">Angular Training</div>

    <div class="nav-links">
      <a routerLink="/day1" routerLinkActive="active">Day 1</a>
      <a routerLink="/day2" routerLinkActive="active">Day 2</a>
      <a routerLink="/day3" routerLinkActive="active">Day 3</a>
      <a routerLink="/admin" routerLinkActive="active">Day 4</a>
      <a routerLink="/day5" routerLinkActive="active">Day 5</a>
      <a routerLink="/day5RF" routerLinkActive="active">Day 5 (Reactive Form)</a>
      <a routerLink="/day6" routerLinkActive="active">Day 6</a>
      <a routerLink="/day7" routerLinkActive="active">Day 7</a>
      <a routerLink="/day8" routerLinkActive="active">Day 8</a>
    </div>
  </div>
</nav>

<main class="content">
  <router-outlet></router-outlet>
</main>
